<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/ed3dgm.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/ui.css">

</head>

<body ng-app="edgm" ng-controller="main">

  <div id="edmap" map-data="mapData" render="true" galaxy-map></div>

  <div id="ui">

    <div class="form-group">
      <label>Search From</label>
      <div class="input-group">
        <input class="input" type="text" placeholder="System name" ng-model="form.systemInfoQuery" ng-keyup="checkEnter($event)" />
        <a class="button" ng-click="form.getSystemInfo()">search</a>
      </div>
    </div>

    <div class="form-group" ng-if="form.selectedSystem">
      
      <div class="selected-system">
        <div class="star-type">{{form.selectedSystem.primaryStar.type}}</div>
        <h2>{{form.selectedSystem.name}}</h2>

        <div class="coords">
          <div>X: {{form.selectedSystem.coords.x}}</div>
          <div>Y: {{form.selectedSystem.coords.y}}</div>
          <div>Z: {{form.selectedSystem.coords.z}}</div>
        </div>
        <div class="system-information">
          <table>
            <tr>
              <td>Allegiance:</td> 
              <td>{{form.selectedSystem.information.allegiance}}</td>
            </tr>
            <tr>
              <td>Government:</td> 
              <td>{{form.selectedSystem.information.government}}</td>
            </tr>
            <tr>
              <td>Faction:</td> 
              <td>{{form.selectedSystem.information.faction}}</td>
            </tr>
            <tr>
              <td>FactionState:</td> 
              <td>{{form.selectedSystem.information.factionState}}</td>
            </tr>
            <tr>
              <td>Population:</td> 
              <td>{{form.selectedSystem.information.population}}</td>
            </tr>
            <tr>
              <td>Security:</td> 
              <td>{{form.selectedSystem.information.security}}</td>
            </tr>
            <tr>
              <td>Economy:</td> 
              <td>{{form.selectedSystem.information.economy}}</td>
            </tr>
          </table>
        </div>
        <div class="selected-system-buttons">
          <a ng-click="form.addToLibrary()">add</a> | 
          <a ng-click="form.clearSearch()">clear</a>
        </div>
      </div>
    </div>


    <div class="resources">
      <h4>Resources</h4>
      <a href="https://github.com/gbiobob/ED3D-Galaxy-Map" target="_blank">ED3D Map Project</a>
      <a href="https://www.edsm.net/en/api-system-v1" target="_blank">System API</a>
      <a href="https://www.edsm.net/en/api-v1" target="_blank">API</a>
    </div>

  </div>


  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>  

  <!-- Three.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js"></script>

  <!-- Launch ED3Dmap -->
  <script src="js/ed3dmap.js"></script>

  <!-- AngularJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/galaxyMap.js"></script>
  <script src="app/data.js"></script>


</body>

</html>